    body,
    header,
    nav,
    main,
    footer,
    img,
    h1,
    h3 {
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    body {
        background-color: #f6eee4;
    }
    
    img {
        max-width: 100%;
        display: block;
    }
    
    header img {
        width: 100%;
    }
    /* Style rules for mobile viewport*/
    /* Style rules to show mobile class and hide tab-desk class*/
    
    .mobile {
        display: block;
    }
    
    .tab-desk {
        display: none;
    }
    /* Style rules for header area */
    
    .mobile h1,
    h3 {
        text-align: center;
        padding: 2%
    }
    
    nav {
        background-color: #2a1f14;
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        text-align: center;
        padding: 0
    }
    
    nav li {
        display: block;
        font-size: 1.5em;
        font-family: Geneva, Arial, sans-serif;
        font-weight: bold;
        border-top: solid 0.5px #f6eee4;
        text-align: center;
    }
    
    nav li a {
        display: block;
        color: #f6eee4;
        padding: 0.5em 2em;
        text-decoration: none;
        text-align: center;
    }
    /* Style rules for main content */
    
    main {
        padding: 2%;
        font-family: Verdana, Arial, sans-serif;
    }
    
    main h3 {
        padding-top: 2%;
    }
    
    main p {
        font-size: 1.25em;
        padding-top: 2%;
    }
    
    main ul {
        list-style-type: square;
    }
    
    #info img {
        width: 50%;
    }
    
    .link {
        color: #4d3319;
        text-decoration: none;
        font-weight: bold;
        font-style: italic;
    }
    
    .action {
        font-size: 1.75;
        font-weight: bold;
        text-align: center;
    }
    
    .round {
        border-radius: 16px;
    }
    
    #info ul {
        margin-left: 10%;
    }
    
    #contact {
        text-align: center;
    }
    
    .tel-link {
        background-color: #2a1f14;
        padding: 2%;
        width: 80%;
        margin: 0px auto
    }
    
    .tel-link a {
        color: #f6eee4;
        text-decoration: none;
        font-weight: bold;
    }
    
    footer {
        text-align: center;
        font-size: 0.85;
        background-color: #2a1f14;
        color: #f6eee4;
        padding: 1% 0;
    }
    
    footer a {
        color: #f3d6e8;
        text-decoration: none;
    }
    
    @media screen and (min-width: 620px) {
        /*  Tablet Viewport: Show tab-desk class, hide mobile class*/
        .mobile {
            display: none;
        }
        .tab-desk {
            display: block !important;
        }
        /* Tablet Viewport: Style rules for nav area */
        nav li {
            border-top: 0px solid #000;
            display: inline-block !important;
            font-size: 1.25em;
        }
        nav li a {
            padding: 0.5em 2 em;
        }
    }
    /* Media Query for Desktop Viewport */
    
    @media screen and (min-width:1000px) {
        /* Desktop Viewport: Style rules for nav area.  */
        nav li {
            font-size: 1.5em;
        }
        nav li a:hover {
            color: #2a1f14;
            background-color: #f6eee4;
        }
        /* Desktop Viewport: Style rules for main content. */
        #info ul {
            margin-left: 5%;
            ;
        }
    }
    /* Media Query for Large Desktop Viewports. */
    
    @media screen and (min-width: 1921px) {
        body {
            background: linear-gradient(#f6eee4, #78593a)
        }
        #wrapper {
            margin: 0px auto;
            width: 1921px;
        }
        main {
            background-color: #f6eee4;
        }
    }
    /* Media Query for Print */
    
    @media print {
        body {
            background-color: #000;
            color: #fff;
        }
    }